# Build folders
bin/
obj/

# macOS files
.DS_Store

# Visual Studio / VS Code
.vs/
.vscode/

# Test results
TestResults/

# NuGet
*.nupkg

# Logs
*.log

# Runtime zips (keep only final release)
*-runtime.zip
